html {
    height: 100%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
}

p {
    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
}
.teste {
    font-family: 'Merriweather', serif;
    color:blue
}