{% extends "base.html" %}

{% block 'title' %} {{ principios.principio_name }} {% endblock 'title' %} 

{% block 'principio_single' %}
<br>
<div class="container">
    <div class="row g-5">
        <div class="col-md-8" id="main-content">
            <h1 id="title-post-h1" style="text-transform: uppercase;">{{object.principio_name}}</h1>          
            <small>Pub: {{object.date_created}}</small>
            <small>Principio: {{object.principio_name}}</small><br>
            <small>Ramo do: </small>  | <span class="badge bg-dark">{{object.ramo_direito}}</span> 
            <hr>
            <br>
            <h5>&#x1F4DC; {{object.principio_name}}</h5>  
            <p>{{object.content_principio | safe}}</p>
            <br>
            <div class="news-footer">
                <span class="coracao">&#9829; &#9829; &#9829; &#9829; &#9829;</span>                           
                <br>
                <span style="color: rgb(79, 79, 79);">Obrigado pela leitura!</span>

                <hr class="news-divider">
                <br>
                <small><strong>Principio: </strong>{{object.principio_name}}</small><br>
                <small><strong>Categoria: </strong>{{object.ramo_direito}}</small><br>
                <small><strong>Pub: </strong>{{object.date_created}}</small><br>
                <small><strong>Views: </strong>{{object.views}}</small>
            </div>
        </div>
{% endblock 'principio_single' %}