<!DOCTYPE html>
<html lang="pt-br">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>{% block 'title' %} Tribunais | Jurisprudências{% endblock 'title' %}</title>
</head>
<body>
    
    <!-- Container para os cards -->
    <div class="container mt-5">
        <h5>Pesquisa de Jurisprudências - Tribunais</h5>
        <small>Estamos trabalhando para completar o nosso quadro. Em breve, você poderá consultar jurisprudências do Supremo Tribunal Federal, TRF's, TRT's, TJ's...</small>
        <hr>
        <div class="row">
            <!-- Card Link
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Supremo Tribunal federal</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>      
                </div>           
            </div>
            -->            

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'app_juris_stj:juris-stj-list' %}" class="card-title">&#x1F3DB;&#xFE0F; <br>Superior Tribunal de Justiça</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

        <!--

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal Superior do Trabalho</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal Superior Eleitoral</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Superior Tribunal Militar</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal Regional Federal 1a Região</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal Regional Federal 2a Região</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal Regional Federal 3a Região</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal Regional Federal 4a Região</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal Regional Federal 5a Região</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal Regional do Trabalho 1a Região</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal Regional do Trabalho 2a Região</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal Regional do Trabalho 3a Região</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal Regional do Trabalho 4a Região</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal Regional do Trabalho 5a Região</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal de Justiça SP</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal de Justiça RJ</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal de Justiça BA</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal de Justiça MG</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal de Justiça RS</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal de Justiça SC</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal de Justiça PR</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
                <div class="card" id="card-link">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="card-title">Tribunal de Justiça PA</a></h5>
                        <p class="card-text">Explorando temas jurídicos atuais e relevantes.</p>
                    </div>
                </div>
            </div>


        -->

        </div>
    </div>
</body>
</html>